/*reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.container {
    background-color: white;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    height: calc(100vh - 45px);
}

.container>div {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.container form > div {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.container>div:last-child {
    border-bottom: none;
}

.search_div {
    display: flex;
    justify-content: flex-end;
}

.form>div {
    border: 1px solid #ccc;
    border-bottom: none;
    display: flex;
    padding: 15px;
}

.form>div:last-child {
    border-bottom: 1px solid #ccc;
}

.search_div:last-child {
    width: 500px;
}

.search_div > .el-input {
    width: 250px;
}

.input-label {
    white-space : nowrap;
    margin: 0px 10px 0px 40px;
    line-height: 40px;
}

.btns {
    text-align: right;
}

.components {
    padding-top: 0px !important;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.components .el-table__body-wrapper {
    max-height: 270px;
    overflow-y: auto;
}

.pointer {
    cursor: pointer;
}

.grid .cell {
    text-align: center;
}

.RegiPoP {
    position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: calc(100% - 40px);
	height: calc(100vh - 40px);
	background-color: rgba(0, 0, 0, .3);
    padding: 0px;
}

.RegiPoP > div {
    background-color: #fff;
	position: absolute;
	top: calc(50vh - 240px);
	left: calc(50% - 400px);
	border-radius: 5px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
	padding: 0px;
	width: 800px;
}

.RegiPoP > div > div {
    margin: 15px 20px;
}

.RegiPoP .header {
    display: flex;
    justify-content: space-between;
}

.RegiPoP .header i {
    font-weight: 500;
}

.RegiPoP .header i:hover {
    font-weight: 900;
}


.RegiPoP .form > div {
    display: flex;
    justify-content: space-around;
}

.RegiPoP .form > div > div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.RegiPoP .form > div > div > .el-input {
    width: 200px;
}

.RegiPoP .footer {
    display: flex;
    justify-content: center
}

.RegiPoP .footer > button {
    width: 100px;
    border: 1px solid #aaa;
}