/*reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.container {
    background-color: white;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    height: calc(100vh - 45px);
}

.container>div {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.container form > div {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.container>div:last-child {
    border-bottom: none;
}

.search_div {
    display: flex;
    justify-content: flex-end;
}

.search>div {
    border: 1px solid #ccc;
    display: flex;
    padding: 15px;
}

.search_div:last-child {
    width: 500px;
}

.search_div > .el-input {
    width: 250px;
}

.input-label {
    white-space : nowrap;
    margin: 0px 10px 0px 40px;
    line-height: 40px;
}

.btns {
    text-align: right;
}

.components {
    padding-top: 0px !important;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.components .el-table__body-wrapper {
    max-height: 270px;
    overflow-y: auto;
}

.pointer {
    cursor: pointer;
}

.grid .cell {
    text-align: center;
}